<footer>
    <div class="f-info">
        <div class="f-info-socials">
 <a href="https://www.facebook.com" target="_blank">
  <i class="fab fa-facebook-f"></i>
</a>

<a href="https://www.instagram.com" target="_blank">
  <i class="fab fa-instagram"></i>
</a>
<a href="https://www.linkedin.com" target="_blank">
  <i class="fab fa-linkedin-in"></i>
</a>


        </div>
        <p>&copy; 2025 Wanderlust Private Limited. All rights reserved.</p>

        <div class="f-info-links">
            <a href="/Privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>